/*-----------------------------
	Wcorr.RC resource script 0892
  -----------------------------*/

#include "wlogit.h"

WLOGIT ICON "logit.ico"
WCORRBMP BITMAP "logit.bmp"

AboutBox DIALOG 21, 13, 160, 161
STYLE WS_POPUP | WS_DLGFRAME
CLASS "bordlg"
{
 CTEXT "  Logit", -1, 55, 10, 55, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
 ICON "WLOGIT", -1, 5, 10, 13, 13, WS_CHILD | WS_VISIBLE
 CTEXT "Ed Nieuwenhuys\nJan van Gentstraat 7\n1171GH Badhoevedorp\nThe Netherlands\n\nednieuw@xs4all.nl\nwww.xs4all.nl/~ednieuw\n\nProgram may be duplicated\nSend me a postcard if you are\n(not) satisfied", -1, 12, 35, 133, 104
 CONTROL "OK", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 64, 144, 26, 16
 CTEXT "V 2.2", -1, 55, 20, 55, 8
 CONTROL "", 101, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 55, 10, 55, 20
}

PrintDlgBox DIALOG 20, 20, 100, 76
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CLASS "bordlg"
CAPTION "Logit"
{
 CTEXT "Sending", -1, 0, 10, 100, 8
 CTEXT "", IDD_FNAME, 0, 20, 100, 8
 CTEXT "to print spooler.", -1, 0, 30, 100, 8
 CONTROL "Cancel", IDCANCEL, "BorBtn", WS_GROUP, 34, 50, 32, 14
}


KNOPPEN DIALOG PRELOAD MOVEABLE DISCARDABLE 189, 31, 207, 204
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CLASS "bordlg"
CAPTION "Curve fitting Ed Nieuwenhuys"
FONT 12, "System"
{
 PUSHBUTTON "&Load", IDM_LOAD, 12, 30, 40, 10, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_PRNFILENAME, 6, 144, 119, 12, ES_AUTOHSCROLL | ES_UPPERCASE | ES_WANTRETURN | WS_BORDER | WS_TABSTOP
 EDITTEXT IDM_PICFILE, 6, 186, 119, 12, ES_AUTOHSCROLL | ES_UPPERCASE | ES_WANTRETURN | WS_BORDER | WS_TABSTOP
 EDITTEXT IDM_RESFILE, 39, 117, 86, 12, ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "&Manual Input", IDM_MANINPUT, 36, 45, 55, 10, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Quit", IDM_CLOSE, 12, 6, 40, 10, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Fur ELISA", IDM_FURELISA, 75, 30, 39, 10, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&About", IDM_ABOUTP, 75, 5, 39, 10, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Calculate", IDM_BEREKEN, 12, 75, 40, 10, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Print", IDM_PRINT, 75, 75, 40, 10, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Editor", IDM_EDITOR, 45, 90, 39, 10, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 CONTROL "X&Zeroforced ", IDM_XZERO, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 99, 60, 10
 CONTROL "Y&Zeroforced", IDM_YZERO, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 109, 60, 10
 CONTROL "&X axis Log", IDM_XLOGas, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 119, 60, 10
 CONTROL "&Y axis Log", IDM_YLOGas, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 129, 60, 10
 CONTROL "&Ticks&in", IDM_Ticksin, "BorRadio", BS_AUTORADIOBUTTON | BBS_PARENTNOTIFY | WS_CHILD | WS_VISIBLE, 137, 139, 60, 10
 CONTROL "&Ticks&out", IDM_Ticksout, "BorRadio", BS_AUTORADIOBUTTON | BBS_PARENTNOTIFY | WS_CHILD | WS_VISIBLE, 137, 149, 60, 10
 EDITTEXT IDM_MAXX, 158, 165, 42, 12, ES_LEFT | ES_NOHIDESEL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDM_MAXY, 158, 183, 42, 12, ES_LEFT | ES_NOHIDESEL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 CONTROL "Axis options", 1105, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE, 131, 90, 73, 111
 CTEXT "Editor Name", -1, 9, 114, 27, 18, WS_CHILD | WS_VISIBLE | WS_GROUP
 CTEXT "Max X-axis", -1, 134, 163, 24, 15
 CTEXT "Max Y-axis", -1, 134, 180, 24, 15, WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "Type of Regression", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE, 131, 3, 72, 84
 CONTROL "&1 Logit", IDC_LOGIT, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 12, 40, 10
 CONTROL "&2 Lineair", IDC_LINEAIR, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 23, 45, 10
 CONTROL "&3 y^2 vs x", IDC_RID, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 34, 45, 10
 CONTROL "&4 Polynoom", IDC_POLYNOOM, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 48, 50, 10
 EDITTEXT IDC_POLYDEGREE, 155, 69, 20, 12
 CTEXT "Degree (<10)", -1, 140, 60, 50, 8
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 136, 45, 60, 39
 CONTROL "Results", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE, 3, 63, 125, 69
 CONTROL "&Join Results", IDC_JOINRESULTS, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 102, 57, 12
 CONTROL "Data Input", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE, 3, 19, 125, 45
 CONTROL "PIC output", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE, 3, 173, 125, 27
 CONTROL "PRN output", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE, 3, 133, 125, 39
 CONTROL "&PRN / PIC Automatic", IDC_AUTOPRN, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 159, 99, 12
}

AUTOCONC DIALOG PRELOAD MOVEABLE DISCARDABLE 167, 54, 122, 106
STYLE WS_POPUP | WS_VISIBLE | WS_DLGFRAME
CLASS "bordlg"
CAPTION ""
{
 EDITTEXT IDM_HIGHCONC, 51, 30, 60, 12, ES_LEFT | ES_NOHIDESEL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDM_DILFACTOR, 51, 60, 60, 12, ES_LEFT | ES_NOHIDESEL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDM_NOOFREPL, 51, 85, 60, 12, ES_LEFT | ES_NOHIDESEL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "&OK", IDM_OK, 10, 20, 30, 10, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Cancel", IDM_CANCEL, 9, 55, 30, 10, WS_GROUP | WS_TABSTOP
 CTEXT "Highest conc", -1, 51, 20, 60, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 CTEXT "Dilutionfactor", -1, 51, 50, 60, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 CTEXT "No of replicas", -1, 51, 75, 60, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 CTEXT "No constant dilution", -1, 5, 70, 35, 30
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 43, 40, 57
 LTEXT "Press OK for constant dilution", -1, 5, 2, 110, 10
 CTEXT "Esc or", -1, 7, 45, 35, 10
}

ListSelect DIALOG 19, 22, 258, 201
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "bordlg"
CAPTION "Select two or more tests by CTRL+Mouseclick"
FONT 12, "System"
{
 CONTROL "Select", 101, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_MULTICOLUMN | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL, 5, 5, 250, 170
 PUSHBUTTON "OK", IDOK, 96, 180, 65, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

INPUTDLG DIALOG PRELOAD MOVEABLE DISCARDABLE 286, 102, 104, 12
STYLE DS_ABSALIGN | WS_POPUP | WS_VISIBLE | WS_CAPTION
CLASS "bordlg"
CAPTION ".."
{
 EDITTEXT IDM_INPUTDLG, -1, 0, 105, 12, ES_WANTRETURN | WS_BORDER | WS_TABSTOP
}

